header {  
	width: 780px;
	text-align: center;
	}

body {
	width: 950px;
	display: block;
	margin: auto; 
	color: black;
	font: 1rem 'Helvetica', sans-serif;
	background-color: #645F5E;
	}

a.bouton1 {
	padding: 10px 30px; 
	background: white; 
	color: black; 
	font-size: 40px;
	font: 1rem 'Verdana', sans-serif;
	margin: 5px;
	}

a.bouton1:hover {
	background: black; 
	color: white
	}

a.bouton2 {
	padding: 10px 30px;
	background: white;
	color: black;
	font-size: 50px;
	font: small-caps bold 24px/1 sans-serif;
	margin: 5px;
	}

a.bouton1:hover {
	background: black;
	color: white;
	}

.forecast {
	padding: 10px 10px; 
	background: black; 
	color: white; 
	font: 1rem 'Verdana', sans-serif;
	font-size: 30px;
	margin-left: auto;
	margin-right: auto;
	background-color: black;
	border: 5px solid white;
	width: 930px;
	}


#fixe {
   position: fixed;
   margin-left: auto;
   margin-right: auto;
   width: 950px;
   height: 130px;
   top: 0px;
   bottom: 0px;
   background-color:#f3ca20;
   display: inline-block;
   border:5px solid white;
	}

