header {  
 width: 780px;
 text-align: center;
}

body {
 width: 950px;
 display: block;
 margin: auto; 
 color: black;
 font: 1rem 'Helvetica', sans-serif;
 background-color: #645F5E;
}
a.bouton1 {
padding: 10px 30px; 
background: white; 
color: black; 
font-size: 40px;
font: 1rem 'Verdana', sans-serif;
margin: 5px;
}
a.bouton1:hover {
background: black; 
color: white
}

.forecast {
    margin: 0;
    padding: .1rem;
    background-color: black;
	color: white;
}
.forecast > h1
{
padding: 10px 10px; 
background: black; 
color: white; 
font: 1rem 'Verdana', sans-serif;
margin: 5px;
font-size: 30px;
}
	
#fixe
{
   position: fixed;
   width: 950px;
   height: 130px;
   top: 0px;
   bottom: 0px;
   background-color:#f3ca20;
   display: inline-block;
}

